{% extends 'web/layout.html' %}


{% block content %} 
<div class="jumbotron jumbotron-fluid bg-white">

    <div class="container text-center">
      <h1 class="display-4">Lista de tareas</h1>
      <p class="lead">Añadir nueva tarea</p>
      
      <div class="container text-center">
  
        <form action="{% url 'nueva_tarea' %}" method="POST">
            {% csrf_token %}
      
            <div class="form-group"> 
              {{ form }}  
            </div>
            
            <button type="submit" class="btn btn-primary" >Crear</button>
          </form>

      </div>
      
    </div>

</div>

<div class="container text-center">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tarea</th>
                <th scope="col">Accion</th>         
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
            <tr>
                <th scope="row">{{tarea.id}}</th>
                <td>{{tarea}}</td>
                <td><a class="btn btn-danger btn-sm" href="{% url 'eliminar' tarea.id %}">Eliminar</a>
                    <a class="btn btn-light btn-sm" href="{% url 'tarea_del_dia' tarea.id %}">Priorizar</a>
                </td>
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}






    
