{% extends 'web/layout.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid bg-white">

    <div class="container text-center">
      <h1 class="display-4">Listado del día</h1>
      <p class="lead">Prioritario</p>
      
</div>

<div class="container text-center">

{% if tareas_del_dia %}
  <table class="table table-striped table-dark">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Tarea</th>
              <th scope="col">Accion</th>         
          </tr>
      </thead>
      <tbody>
          {% for tarea in tareas_del_dia %}

            
            <tr>
                <th scope="row">{{tarea.id}}</th>
                <td>{{tarea}}</td>
                <td><a class="btn btn-danger btn-sm" href="{% url 'eliminar_del_dia' tarea.id %}">Eliminar</a>
                </td>
            </tr>
                     
            {% endfor %}
        </tbody>
  </table>

 {% else %} 
 <br>
 <br>
 <br>
 <div class="alert alert-success" role="alert">
    <h2 class="container text-center">No hay tareas pendientes para hoy</h2>
  </div>

{% endif %}


 
</div>
  



{% endblock %} 
